body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    overflow: hidden;
  }

  .main-container {
    display: flex;
    width: 60rem;
    height: 36rem;
    border-radius: 1rem;
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .img-container {
    background-image: url('assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    width: 20rem;
    height: 50rem;

  }

  .content-container1 {
    padding: 1rem;
    margin-right: 2rem;
    line-height: 1rem;
    border: 1px solid;
  }
  .content-container2 {
    padding: 1rem;
    margin-right: 2rem;
    line-height: 1rem;
    display: none;
  }
  .content-container3 {
    padding: 1rem;
    margin-right: 2rem;
    line-height: 1rem;
    display: none;
  }
  .content-container4 {
    padding: 1rem;
    margin-right: 2rem;
    line-height: 1rem;
    display: none;
  }

  .personal-header {

    font-size: 2.3rem;
    color: navy;
    line-height: 0;
  }

  .sub-para {
    font-size: 1.1rem;
    color: rgb(136, 113, 113);
  }

  .form {
    line-height: 3rem;
    margin-top: 3rem;

  }

  #name-validator, #email-validator, #phone-validator{
    color: red;
  }

  .label-names {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
    color: rgb(3, 15, 53);
  }

  .input-types {
    height: 2.8rem;
    width: 30rem;
    line-height: 2rem;
    border: 1px solid lightgrey;
    border-radius: 8px;
    border-width: 0.1rem;
    font-size: 1.5rem;
    padding: 3px;
    padding-left: 10px;
    color: rgb(11, 8, 54);
  }

  .btn {
    background-color: navy;
    color: white;
    margin-top: 4rem;
    margin-left: 22rem;
    width: 9rem;
    height: 3rem;
    border: 0px solid transparent;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
  }

  .step-div {
    display: flex;
    align-items: center;
    color: white;
    margin: 0.8rem;
    margin-top: 1rem;
  }

  .number {
    margin-right: 1rem;
    margin-left: 2rem;
    border: 1px solid white;
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

  }
  .req-align{
    height: 0.3rem;
    display: flex;
    justify-content: space-between;
  }

  .step-para {
    color: lightgray;
    line-height: 0;
    font-size: 0.8rem;
  }

  .step-header {
    line-height: 0;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .card {
    border: 1px solid rgb(210, 130, 239);
    width: 9rem;
    height: 10rem;
    padding: 0.8rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card:hover {
    border: 2px solid rgb(57, 92, 217);
    width: 9rem;
    height: 10rem;
    padding: 0.8rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .card-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .card-header {
    line-height: 0;
    color: rgb(23, 29, 67);
  }

  .card-para {
    line-height: 0;
    color: rgb(113, 108, 108);
  }

  .card-img {
    height: 2.5rem;
    align-self: flex-start;
  }

  .toggle-button-container {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
  }

  .toggle-label {
    margin-right: 1rem;
    font-size: 1rem;
    color: rgb(3, 15, 53);
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked+.slider {
    background-color: #3a9dca;
  }

  input:checked+.slider:before {
    transform: translateX(20px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .btn-goback {
    width: 5rem;
    height: 3rem;
    margin-top: 4.2rem;
    border: transparent;
    background-color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(3, 4, 37);
  }

  .adds-on-content-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .adds-on-sub-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid rgb(158, 166, 219);
    align-items: center;
    margin-top: 0.8rem;
    border-radius: 10px;
    
  }
  .adds-on-sub-container:hover {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid rgb(158, 166, 219);
    align-items: center;
    margin-top: 0.8rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: aliceblue;
  }

  .adds-on-align {
    display: flex;
  }

  .adds-on-header,
  .adds-on-para {
    line-height: 0;
    margin-left: 1rem;
  }

  .adds-on-header {
    color: rgb(20, 20, 95);
  }

  /* #arcade-div:hover{
    border: 2px solid blue;
  }
  #advanced-div:hover{
    border: 2px solid blue;
  }
  #pro-div:hover{
    border: 2px solid blue;
  } */

  .adds-on-para {
    color: rgb(153, 137, 137);
  }

  .finish-up-inner-container-os{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    display: none;
  }
  .finish-up-inner-container-ls{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    display: none;
  }
  .finish-up-inner-container-cp{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    display: none;
  }
  .finish-up-inner-container-main{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
  }
  .number1{
    background-color:aqua;
  }
  #yearly-text1, #yearly-text2, #yearly-text3{
    display: none;
  }

  /* .hr{
    border-color: lightgray;
    background-color: aliceblue;
  } */

  .info-content {
    text-align: center;
    margin: auto;
    line-height: 1.5;
    display: none;
}

#total-sum{
  font-size: 1.8rem;
  color: rgb(191, 69, 185);
}

#confirm-btn{
  background-color: rgb(31, 31, 238);
}